.container.about-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: #512057;
  font-family: 'Roboto', sans-serif;
  background-color: #d7f1e4; 
  


  .text-zone {
      flex: 1;
      margin-right: 40px;
      margin-left: 20px; /* Added left margin here */

      h1 {
          font-size: 2.5rem;
          color: #0d4352;
      }

      p {
          font-size: 1.1rem;
          line-height: 1.5;
          color: #252525;
          margin-bottom: 20px;
      }
  }

  .stage-cube-cont {
      flex: 0.5;
      perspective: 800px;

      .cubespinner {
          animation: spincube 8s ease-in-out infinite;
          transform-style: preserve-3d;
          transform-origin: 100px 100px 0;
          width: 200px;
          height: 200px;

          div {
              position: absolute;
              width: 200px;
              height: 200px;
              background: rgba(255, 255, 255, 0.2);
              border: 2px solid rgba(255, 255, 255, 0.1);
              text-align: center;
              font-size: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
              transition: transform 0.5s;
          }

          .face1 { transform: translateZ(100px); color: #dd0031; }
          .face2 { transform: rotateY(90deg) translateZ(100px); color: #f06529; }
          .face3 { transform: rotateY(90deg) rotateX(90deg) translateZ(100px); color: #28a4d9; }
          .face4 { transform: rotateY(180deg) rotateZ(90deg) translateZ(100px); color: #5ed4f4; }
          .face5 { transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px); color: #efd81d; }
          .face6 { transform: rotateX(-90deg) translateZ(100px); color: #ec4d28; }
      }
  }
}

@keyframes spincube {
  0%, 100% { transform: rotateX(0deg) rotateY(0deg); }
  25% { transform: rotateX(90deg) rotateY(90deg); }
  50% { transform: rotateX(180deg) rotateY(180deg); }
  75% { transform: rotateX(270deg) rotateY(270deg); }
}
